
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #E4E4E4;
}

::selection {
    color: #fff;
    background: #CC4646;
}

::-moz-selection {
    color: #fff;
    background: #CC4646;
}

p {
    color: #858585;
	line-height:22px;
}
.white{
	background:#fff;
	}
.pDark p {
    color: #6D6D6D;
}

.pDark h3 {
    color: #BEBEBE;
}

.btn, .form-control, .team-socials i {
    border-radius: 5px !important;
}

.button-outline {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(255,255,255,0.15);
}

    .button-outline:hover {
        color: #fff;
        background: rgba(255,255,255,0.35);
    }

a {
    color: #CC4646;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

    a:hover {
        color: #DF3927;
        text-decoration: none;
    }

.btn {
    border: 0px;
    border-radius: 0px;
}
.btn:hover {
background: #E24040;
}

.btn-primary {
    background: #CC4646;
}

.form-control {
    border-radius: 0px;
}

.mrgn30 {
    margin: 30px 0;
}

#top {
    position: relative;
}

.topHome {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
	background: #CC4646;
}
.topHome .fa-2x {
font-size: 20px;
color:#fff;
margin: 4px;
}

.header {
    position: fixed;
    width: 100%;
    background: #CC4646;
    z-index: 50;
    border-radius: 0;
    top: 0px;
    border-bottom: 1px solid #F57676;
}

.navbar-inverse .navbar-toggle {
    border-color: #CC4646;
    background-color: #CC4646;
}
.header .navbar {
margin: 0;
background: transparent !important;
}
    .navbar-inverse .navbar-toggle .icon-bar {
        /*background-color: #CC4646;*/;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background: #CC4646;
    }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #CC4646;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
    background: #fff;
}
.navbar-inverse .navbar-nav > li > a {
	color: #FFB8B8;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #FFFFFF;
background: none;
}	
.navbar-toggle {
}

#myCarousel {
    margin-top: 50px;
    border-bottom: 4px solid #CC4646;
}

.carousel-inner > .item {
}

.carousel-caption {
    padding: 0px;
    bottom: 40%;
    display: block;
    height: 80px;
}

    .carousel-caption h1 {
        font-size: 45px;
        padding: 10px 15px;
        background: rgba(128, 180, 33, 0.80);
        color: #FFFFFF;
        text-shadow: none;
        font-weight: bold;
        display: inline-block;
    }

    .carousel-caption h3 {
        font-size: 30px;
        color: #1C4604;
        font-weight: bold;
        text-shadow: #fff 1px 1px 1px;
    }

.actionPanel {
    padding: 25px 0;
    background: #CC4646;
}

    .actionPanel h3 {
        margin: 0px;
    }

.circle {
    background: #CC4646;
    height: 60px;
    width: 60px;
    border-radius: 35px;
    color: #fff;
    line-height: 60px !important;
}

.header .navbar-brand {
    float: left;
    padding: 16px 15px;
    line-height: 18px;
    height: 50px;

}

.navbar-brand b {
    color: #fff;
	font-family: 'Pacifico', cursive;
	font-weight:400;
}

.logo {
    font-size: 2.2em;
    text-shadow: none;
    margin: 8px 0 0 0;
}

    .logo:hover {
        color: #5A5A5A;
    }

.header .navbar {
    margin: 0;
    background: #fff;
    border: 0;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 1.2em;
    line-height: normal;
    margin: 17px;
    padding: 6px 10px !important;
    border-radius: 5px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: none;
}

.navbar-nav > li:hover > a {
    color: #fff;
}

.header .navbar-nav > li > a {
    padding: 25px 18px;
    text-transform: uppercase;
}

.page-section {
    width: 100%;
    height: auto;
    padding: 30px 0;
}

.noPadd {
    padding: 0;
}

.page-section h1 {
    font-size: 3.5em;
    margin: 90px 0 30px;
    line-height: 1.2em;
}

    .page-section h1 span {
        font-weight: 200;
    }

.page-section h2 {
    color: #CC4646;
}

.page-section p {
    font-size: 1.1em;
    line-height: 1.6em;
}

.darkBg {
    background: rgb(44, 44, 44);
}

    .darkBg .fa {
        color: #CC4646;
    }

.banner-container {
    width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    background-size: 100% 100%;
    background-size: cover;
    margin-top: 60px;
    position: relative;
}

    .banner-container > img {
        width: 100%;
    }

.banner-content {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
}

    .banner-content h2 {
        color: #fff;
        font-size: 3.5em;
        margin: 2% 0 30px;
        line-height: 1.2em;
    }

    .banner-content p {
        font-size: 1.6em;
        font-weight: normal;
        font-style: normal;
        color: #fff;
    }

.da-slider {
    margin: 0 auto !important;
}

.sub-heading {
    padding: 15px 0;
}

    .sub-heading h2 {
        font-size: 18px;
        margin: 15px 0 8px !important;
    }

    .sub-heading p {
        color: #5A5A5A;
    }

.heading { 
    padding: 3px 10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    display: block;
}

    .heading p {
        font-size: 1.2em;
    }

.pdingBtm30 {
    padding-bottom: 30px;
}

.da-arrows span:after {
    width: 25px;
    height: 24px;
}

.da-arrows span {
    position: absolute;
    top: 50%;
    height: 34px;
    width: 34px;
    border-radius: 60px;
    background: none;
}

.da-dots span {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.13);
    margin: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6) inset, 1px 1px 1px rgba(255,255,255,0.1);
    border: 2px solid rgba(255, 255, 255, 0.6);
}
.secPad{
	padding:60px 0;
}
#introText {
padding:50px 0;
background:#fff;
}

#aboutUs .txtHead{
background:#fff;
padding:20px 10px;
}
#aboutUs .txtHead .fa {
font-size: 58px;
color: #5E5E5E;
}
.tileBox p{
    background-color: #f0f0f0;
font-size: 15px;
color: #777777;
padding: 20px;
margin: 0px;
}

.bg-parlex {
padding-top: 0px;
background-image: url('../images/applicatiefoto.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
.parlex-back {
padding: 30px 0;
background-color: rgba(0, 0, 0, 0.37);
color: #FDFDFD !important;
}
.skilltitle {
text-align: right;
font-weight: 600;
padding-right: 0px;
}
.progress {
border-radius: 0px;
height: 15px;
margin-top: 5px;
background-color: #D6D6D6;
}
.progress .progress-bar {
background-color: #CC4646;
}

.grid .text-content {
    padding-left: 35%;
}

.grid .text-content {
    display: block;
    padding-left: 19%;
    padding-right: 8%;
}

.grid .grid-item {
}

.grid .text-content h5 {
    font-weight: bold;
}

.grid .grid-item .item-content {
    display: block;
    outline: none;
    text-decoration: none;
    padding: 20px 0;
}

.item-content .fa {
    position: absolute;
    color: #646464;
    font-size: 4.5em;
    top: 36px;
}

.descrition {
    min-height: 90px;
    /*text-align: center;*/
    /*border-bottom: 1px solid #dadde2;*/
    padding: 5px 15px;
}


.isotopeWrapper article {
    margin-bottom: 30px;
}

#portfolio {
    background:rgb(24, 24, 24);
}

    #portfolio img {
        width: 100%;
    }

    #portfolio article p {
        margin-bottom: 1.45em;
        /*set next row on the baseline*/;
    }

nav#filter {
    margin-bottom: 1.5em;
}

    nav#filter li {
        display: inline-block;
        margin: 0 0 0 5px;
    }

    nav#filter a {
        padding: 4px 12px;
        line-height: 20px;
        border: 1px solid #CC4646;
        text-decoration: none;
    }

.current {
    background: #CC4646;
    color: #fff;
}

.portfolio-items article img {
    width: 100%;
}

.portfolio-item {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .portfolio-item img {
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        transition: all 300ms linear;
    }

    .portfolio-item .portfolio-desc {
        display: block;
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        color: rgba(220, 220, 220);
    }

.fancybox-overlay {
    background: rgba(0, 0, 0, 0.64);
}

.portfolio-item:hover .portfolio-desc {
    padding-top: 20%;
    height: 100%;
    transition: all 200ms ease-in-out 0s;
    opacity: 1;
    background: rgba(61, 61, 61, 0.67);
}

.portfolio-item .portfolio-desc a {
    color: #fff;
    text-align: center;
    display: block;
}

    .portfolio-item .portfolio-desc a:hover {
        /*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
        text-decoration: none;
    }

.portfolio-item .portfolio-desc .folio-info {
    top: -20px;
    padding: 30px;
    height: 0;
    opacity: 0;
    position: relative;
}

.portfolio-item:hover .folio-info {
    height: 100%;
    opacity: 1;
    transition: all 500ms ease-in-out 0s;
    top: 5px;
}

.portfolio-item .portfolio-desc .folio-info h5 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

.portfolio-item .portfolio-desc .folio-info p {
    color: #ffffff;
    font-size: 12px;
}

.page-section.intro {
    min-height: 600px;
}

.btn {
    font-weight: 200;
}

.btn-dark {
    background: #444;
    color: #fff;
}

    .btn-dark:hover {
        background: #000;
        color: #fff;
    }

.back-to-top {
    display: inline-block;
    clear: both;
    background: #fff;
    color: #333;
    padding: 0 10px 5px;
    margin: 20px 0 0;
    text-shadow: none;
}

    .back-to-top:hover {
        background: #333;
        color: #fff;
        text-decoration: none;
    }

hr {
    border-color: #ddd;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#navigation {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    background: #ffffff;
    box-shadow: 0 10px 10px -10px #000000;
}

    #navigation > li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #navigation > li > a {
            margin: 1px;
            color: #000000;
            background: #cccccc;
            display: block;
            padding: 5px;
            text-decoration: none;
            transition: all 400ms;
        }

            #navigation > li > a.current,
            #navigation > li:hover > a {
                background: #999999;
            }

.pageSection {
    min-height: 600px;
    padding: 20px;
    background: #dddddd;
}

    .pageSection:nth-child(odd) {
        background: #eeeeee;
    }

.socialIcons li {
    list-style: none;
    display: inline;
    margin-right: 6px;
}

footer {
    border-top: 1px solid #e5e5e5;
    padding: 45px 0;
    background: #fff;
}

.social a:hover {
    color: #c0392b;
}

.social a {
    font-size: 32px;
    margin: 0 10px;
    color: #c7c7c7;
}

.contact ul li {
    margin-bottom: 10px;
}

    .contact ul li i {
        margin-right: 15px;
    }


@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }

    .navbar-nav {
        float: right;
    }

    .navbar-inverse .navbar-nav > li > a {  
        padding: 5px 12px !important;
        border-radius: 5px;
        margin: 19px 0px;
    }
}

    nav#filter li {
        display: inline-block;
        margin: 7px;
    }
}

#owl-demo .item {
    background: #3fbf79;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.customNavigation {
    text-align: center;
}

    .customNavigation a {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

#pasfoto img{
    height: 259px;
    width: auto;
}
